.note {
    text-align: center;
    color: white;
}
h1 {
    color: white;
    text-align: center;
}
.canvas {
    border: 5px;
    border-color: brown;
}
.consoletest{
    width: 100%;
    height: 2cm;
    font-size:xx-large;
    background-color: darkgoldenrod;
}